*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(23, 23, 48);
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
    align-items: center; 
}

.choice{
    height: 200px;
    width: 200px;
    border: 2px solid transparent;
    /* transition: border-color 0.2s; */
    background-color:rgb(120, 120, 133) ;
    align-content: center;
    justify-content: center;
    border-radius: 50%;

}

img{
    height: 150px;
     transition: transform 0.2s ease;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;

}

.choice:hover{
border-color: black;
transition: border-color 0.2s;
background-color:rgb(82, 82, 91) ;
cursor: pointer;
}

.choice img {
    transition: transform 0.1s ease;
}

.choice:hover {
    border-color: black;
}

.choice:hover img {
    transform: scale(1.1);
}

.scoreBoard{
/* margin-top: 5rem; */
padding: 3rem;
display: flex;
align-content: center;
justify-content: center;
gap: 50px;

}

.score{
    font-size: 2rem;
}

#userScore, #compScore{
    font-size: 5rem;
}

/* .msg-container{

background-color:rgb(82, 82, 91) 


} */

#msg{
    padding: 1.5rem;
    border-radius: 2rem;
    display: inline;
    color: white;
    font-size: 2rem;
    background-color:rgb(30, 30, 33)
    
}
